@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: 2px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #caed07db;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #4fe205;
      border-radius: 100vh;
      border: 3px solid #eaf1e8;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #07e61a;
    }
  }
    :root {
      --font-sora: "Sora", sans-serif;
      --font-code: "Source Code Pro", monospace;
      --font-grotesk: "Space Grotesk", sans-serif;
      color-scheme: dark;
    }
  
    * {
      scroll-behavior: smooth
    }
  
   